body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.dark-theme {
  background-color: #333;
  color: white;
}
button {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 2px;
}